@font-face {
    src: url(../assets/title-ExLightCond.otf);
    font-family: 'title-ExLightCond';
}

.start-container {
    font-family: 'title-ExLightCond', Cambria, Cochin, Georgia, Times,
        'Times New Roman', serif;

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.title-container {
    position: absolute;
    box-sizing: border-box;
}
.p1{
    right: 20vw;
    bottom: 50vh;
    text-align: right;
}
.p2{
    right: 20vw;
    top: 50vh;
    text-align: right;
    opacity: 0;
}

.title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
    user-select: none;
}
.subtitle{
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: .3rem;
    margin-right: -0.3rem;
    margin-bottom: 2rem;
    user-select: none;
}