@font-face {
    src: url(../assets/title-ExLightCond.otf);
    font-family: 'title-ExLightCond';
}
.title-container {
    font-family: 'title-ExLightCond', Cambria, Cochin, Georgia, Times,
        'Times New Roman', serif;

    height: 100vh;
    width: 100vw;

    bottom: 0;
    box-sizing: border-box;
    padding-right: 20vw;
    padding-bottom: 25vh;
    text-align: right;
    user-select: none;
}

.title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
}